<ul class="list-group">
    {% for survey in surveys %}
        <li class="list-group-item mb-3 shadow-sm">
            <a href="{% url 'surveyapp:display_survey' survey.id %}" class="h5 text-decoration-none d-block mb-1 text-primary">{{ survey.name }}</a>
            <p class="text-muted mb-1">{{ survey.description }}</p>
            <h6 class="text-secondary">
                <span class="text-dark fw-bold">Cell:</span> {{ survey.cell }}
            </h6>
        </li>
    {% empty %}
        <li class="list-group-item">No surveys available.</li>
    {% endfor %}
</ul>
